[submodule "todmisc-songops/pylsdj"]
	path = todmisc-songops/pylsdj
	url = https://github.com/TheOtherDays/pylsdj
[submodule "todmisc-songops/bread"]
	path = todmisc-songops/bread
	url = https://github.com/TheOtherDays/bread
